/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}



.ui-panel-inner {
    padding:0px; /*make the buttons flush edge to edge*/
}
.ui-controlgroup {
    margin:0; /*make the buttons flush to the top*/
}
#header {
    height:54px;
}
#bars-button {
    margin:7px;
}

.label {
    display: inline !important;
    padding-left: 20px;
    text-indent: -15px;
    vertical-align: middle;

}
.checkbox {
    display: inline;
    padding-left: 10px!;
    margin-left: 20px!;
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    vertical-align: middle;
}

.ui-checkbox {
    display: inline;
}

.ui-checkbox input {
    left: 20px !important;
}

.ui-mobile label {
    margin-left: 40px !important;
}

.header {
    width: 100%;
    height: 50px;
    background: #A32271;
}
.nav-toggle {
    color: #fff;
    line-height: 50px;
    padding-left: 20px;
}
.nav {
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    text-shadow: none;
}
.nav-container:hover .nav {
    height: auto;
}
.tabselected
{
    background-color:#A9F5F2 !important;
}

.nav li {
    list-style-type: none;
    height: 50px;
    background: grey;
    line-height: 50px;
    border-bottom: 1px solid #fff;
    padding-left: 20px;
    position: relative;
    z-index: 100;
}
.nav li a {
    color: #fff;
    text-decoration: none;    

}
.nav li:visited
{
    color: #FFF;
}
.homeImage
{
    width:100%;
    height: 50px!;
    margin: 0px;
    padding-bottom: 10px;!
}


.homeInfo
{
    margin-top: 27px;
    font-size: 34px;
    color: #A32271;
    font-weight: 300;
    padding: 0 20px;
    line-height: 43px;

}

.homeDetails
{
    margin-top: 10%;
    color: #313131;
    text-align: inherit;

}

.combobox select {
   background: transparent;
   width: 268px;

   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}

.combobox {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   padding: 0 20px;
   margin: 0 20px;
   margin-top: 10px;
}


.basicText
{
    color: #313131;
    font-size: 18px;
    padding: 0 20px;
    font-size: 18px;
    display: block;
    margin-top: 20px;
}

.homeFooter
{
    font-size: 14px;
    width: 100%;
    background-color: #A32271;
    color: #FFFFFF;
    padding: 20px;
    box-sizing:border-box;
}




body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
/*    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;*/
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
